{% extends "portal/base.html" %}

{% block title %}Minhas notificações | Portal NAPNE{% endblock %}

{% block content %}

    <h1 class="h3 mb-4">Minhas notificações</h1>

    <div id="aviso-sem-notificacoes"{% if notificacoes %} class="d-none"{% endif %}>
        <div class="alert alert-info">Você ainda não recebeu nenhuma notificação.</div>
    </div>

    <div class="list-group" id="lista-notificacoes">
        {% for notificacao in notificacoes %}
            {% include "portal/partials/_item_notificacao.html" %}
        {% endfor %}
    </div>

{% endblock %}
